html, body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

img.members {
  -webkit-filter: sepia(1);
  filter: sepia(1);
  -webkit-transition : -webkit-filter 500ms linear;
  transition:all 500ms linear;
  text-align: left;
  float:left;
  height:160px;
  width:160px;
}
img.members:hover {
  filter: none;
  -webkit-filter: none;
}
